.guage-title {
  width: 300px;
  margin: 0px auto 0px auto;
 
}
.guage-title span {
  text-align: center;
  display: block;
  font-size: 22px;
  font-weight: 100;
  padding-right: 40px;
}

.chart-gauge {
  width: 400px;
  height: auto;
  margin: auto;
}

.chart-filled {
  fill: #43DB84;
}

.chart-empty {
  fill: #eaf2f6;
}

.needle,
.needle-center {
  fill: #464a4f;
  display: none;
}

svg {
  font: 10px sans-serif;
}


/* @media (max-width:600px){
  .chart-gauge svg g{
    transform: translate(140, 160) !important;
  }
  
} */